body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(252, 255, 250);
  font-family: 'Poppins', sans-serif;
}
header {
  padding: 53.5px, 2px 0 0 0;
  text-align: center;
  margin-bottom: 53.5px;
}
header h1 {
  color: #264285;
}
main {
  display: grid;
  width: 100%;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin: 0 auto;
}
.card-container {
  max-width: 500px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  background-color: #f5f9f2;
  box-shadow: 0 6px 9px rgb(13 13 25 / 3%), 0 2px 7px rgb(13 13 25 / 3%);
  margin-bottom: 50px;
}
.card-container h2 {
  color: #264285;
}
.card-container form {
    padding: 20px;
}
.card-container form input {
  width: 100%;
  margin: 10px 0;
}
.img-container img {
  width: 150px;
  height: 150px;
}
