body {
  /* background: #f6efe8; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}
main {
  margin: 0 auto;
}
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 380px);
  grid-gap: 10px;
  margin-bottom: 100px;
}
.grid-card {
  width: 300px;
  height: 850px;
  text-align: center;
  display: flex;
  border: 1px solid #111;
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #111;
  flex-direction: column;
}
.grid-card figure {
  width: 90%;
  height: 200px;
  overflow: hidden;
  margin: 20px auto;
}
.grid-card figure img {
  width: 100%;
  height: 100%;
  /* filter: grayscale(100%); */
  object-fit: contain;
}
.grid-card h2 {
    margin-bottom: 0;
}
.contenedor-separador {
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  margin: 0 auto 20px;
}
figure .contenedor-separador img {
  width: 100%;
  height: 100%;
}
.form-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.form-container form {
    margin: 0 auto;
}
.form-container .form-triangulo{
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.form-container form input {
    margin: 16px auto;
    width: 250px;
}
.form-container form button {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 250px;
}